html, body {
	margin: 0;
	padding: 0;
	background: $white;
	color: $black;
}

span {
	display: block;
}
a {
	color: $blue;
	text-decoration: none;
	&:active, &:visited, &:focus {
		color: $blue;
		text-decoration: none;
	}
	&:hover {
		text-decoration: underline !important;
	}
}

main {
	max-width: 60em;
	margin: 0 auto;
}

#site-container {
	padding: 4em;
	font-family: 'Tajawal', sans-serif;
	@media screen and (max-width: $mobile) {
		padding: 2em;
	}
	@media screen and (max-width: $mobile-sm) {
		padding: 1em;
	}
}