.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 80em;
	margin: 0 auto;
	@media screen and (max-width: $tablet) {
		flex-direction: column;
	}
	@media screen and (max-width: $tablet-sm) {
		margin: 2em 0;
	}
	&__left {
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: $tablet) {
			margin-right: 0;
		}
	}
	&__title {
		&__name {
			margin: 0;
			font-size: 2.4em;
			font-weight: 800;
			@media screen and (max-width: $mobile) {
				font-size: 1.6em;
			}
		}
		&__slogan {
			margin-top: 0.2em;
			font-size: 1em;
			font-weight: 400;
			@media screen and (max-width: $mobile) {
				font-size: 0.6em;
			}
		}
	}
	&__logo {
		margin-right: 2em;
		@media screen and (max-width: $mobile) {
			margin-right: 1em;
		}
		img {
			width: 10em;
			@media screen and (max-width: $mobile) {
				width: 5em;
			}
		}
	}
	&__right {
		display: flex;
		justify-content: center;
		margin: 2em 0;
	}
	&__link {
		display: inline;
		font-size: 1.2em;
		@media screen and (max-width: $mobile) {
			font-size: 1em;
		}
		&:not(:last-child):after {
			content: "/";
			margin: 0 1em;
			@media screen and (max-width: $mobile) {
				margin: 0 0.6em;
			}
		}
	}
}