.projects {
	flex: 1;
	margin-top: 2em;
	max-width: 40em;
	&__header {
		text-align: center;
		&__text {
			display: inline !important;
			font-size: 2em;
			font-weight: 500;
			border-bottom: 0.1em solid $black;
		}
	}
	&__item {
		overflow: hidden;
		position: relative;
		margin: 2em auto;
		max-height: 20em;
		border-radius: $radius;
		transition: all 200ms;
		@include card(2);
		&:hover {
			@include card(3);
		}
		&:active {
			transform: translateY(0.1em);
		}
		&__image {
			img {
				display: block;
				width: 100%;
			}
		}
		&__content {
			display: flex;
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 1em 2em;
			background: rgba($black, 0.8);
			color: $white;
			&__date {
				margin-right: 0.5em;
				&:after {
					content: "-";
					margin-left: 0.5em;
				}
			}
		}
	}
}