.recent-projects {
	margin: 6em 0;
	@media screen and (max-width: $tablet) {
		margin: 4em 0;
	}
	@media screen and (max-width: $mobile) {
		margin: 2em 0;
	}
	&__container {
		display: flex;
		margin: 0 -1em;
		@media screen and (max-width: $mobile) {
			flex-wrap: wrap;
		}
	}
	&__header {
		margin-bottom: 0.5em;
		font-size: 2em;
		font-weight: 500;
		@media screen and (max-width: $mobile) {
			margin-bottom: 0;
		}
	}
	&__item {
		flex: 1 1 100%;
		display: flex;
		align-items: flex-end;
		height: 15em;
		margin: 1em;
		background-position: center center;
		background-size: cover;
		transition: all 200ms;
		@include card(2);
		&:hover {
			text-decoration: none !important;
			transform: translateY(-0.1em);
			@include card(3);
		}
		&:active {
			transform: translateY(0.1em);
			@include card(2);
		}
		@media screen and (max-width: $mobile) {
			height: 15em;
		}
		&__content {
			flex: 1;
			padding: 2em 1.5em;
			background: $black;
			&__text {
				color: $white;
			}
		}
	}
	&__footer {
		margin: 1em 1em 0 0;
		text-align: right;
		font-size: 1.2em;
	}
}