body {
	max-width: 500px;
	margin: 4em auto;
	padding: 0 2em;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
header > img {
	margin-right: 2em;
}
header > h1 {
	font-size: 2.2em;
}

#deck {
	margin-top: 30px;
	text-align: center;
}
#deck > p {
	font-style: italic;
}

main {
	margin: 50px 0;
}
main > img {
	position: relative;
	max-width: 100%;
}