<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ site.data.edit.title }}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tajawal:400,500,800">
	<link rel="stylesheet" href="/assets/main.css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
</head>
<body>
	<div id="site-container">
		<div class="left">
			<div class="header">
				<div class="header__logo">
					<img src="/assets/logo.svg" alt="sunday-logo" onerror="this.src='/assets/logo.png'">
				</div>
				<div class="header__title">
					<span class="header__title__name">{{ site.data.edit.title }}</span>
					<span class="header__title__slogan">{{ site.data.edit.description }}</span>
				</div>
			</div>
			<div class="about">
				<div class="about__left">
					<div class="about__left__image">
						<img src="/assets/sunday.jpg" alt="sunday">
					</div>
					<div class="about__left__contact">
						<span>email: <a href="mailto:darrel@sundayinc.com">darrel@sundayinc.com</a></span>
						<span>phone: <a href="tel:509-123-4567">(509) 123-4567</a></span>
					</div>
				</div>
				<div class="about__right">
					<span class="about__right__name">Darrel Sunday</span>
					<span class="about__right__title">Environmental Advisor</span>
					<span class="about__right__text">
						{{ site.data.edit.about }}
					</span>
				</div>
			</div>
		</div>
		<div class="right">
			{{ content }}
		</div>
	</div>
</body>
</html>
