<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sunday & Associates Inc.</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tajawal:400,500,800">
	<link rel="stylesheet" href="/assets/main.css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
	<div id="site-container">
		<div class="header">
			<div class="header__left">
				<div class="header__logo">
					<img src="/assets/logo.svg" alt="sunday-logo" onerror="this.src='/assets/logo.png'">
				</div>
				<div class="header__title">
					<span class="header__title__name">Sunday & Associates Inc.</span>
					<span class="header__title__slogan">Balancing the human endeavor within the natural order of life</span>
				</div>
			</div>
			<ul class="header__right">
				<li class="header__link"><a href="/">Home</a></li>
				<li class="header__link"><a href="/projects">Projects</a></li>
				<li class="header__link"><a href="/services">Services</a></li>
				<li class="header__link"><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<main>
			{{ content }}
		</main>
	</div>
</body>
</html>
